<button mat-raised-button (click) ="getPdf()" color="primary">pdf</button>
<button mat-raised-button (click)="getXhtml()" color="primary">xhtml</button>
<!-- <p>{{interesovanje | json}}</p> -->

<p>Drzavljanstvo: {{interesovanje.licniPodaci.drzavljanstvo.value}}</p>

<p>JMBG: {{interesovanje.licniPodaci.jmbg.value}}</p>

<p>Ime: {{interesovanje.licniPodaci.ime}} Prezime: {{interesovanje.licniPodaci.prezime}}</p>
<p>Email: {{interesovanje.licniPodaci.email}}</p>
<p>Mobilni telefon: {{interesovanje.licniPodaci.mobilniTelefon}}</p>
<p>Fiksni telefon: {{interesovanje.licniPodaci.fiksniTelefon}}</p>
<p>Lokacija vakcinisanja: {{interesovanje.licniPodaci.lokacijaVakcinisanja}}</p>
<p>Tip vakcine: {{interesovanje.tipVakcine.value}}</p>
<p>Datum: {{interesovanje.datum.value | date}}</p>
<p>Davalac krvi: {{interesovanje.davalacKrvi}}</p>
