

<div class="containter"> 
<h2>Pretraga pacijenata po JMBG</h2>
<mat-form-field appearance="outline">
  <mat-label>Unesite JMBG Pacijenta</mat-label>
  <input matInput type="text" [(ngModel)]="searchInput">
</mat-form-field>
<button class="dodaj-vakcinu-btn" id="searchBtn" (click)="searchJmbg()">Pretrazi</button>
</div>

<form
  [formGroup]="imunizacijaForm"
  class="containter"
  (ngSubmit)="onSubmit()"
>

  <table *ngIf="saglasnost">
    
  <h2>Podaci o Saglasnosti za imunizaciju protiv COVID-19</h2>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Drzavljanstvo </mat-label>
          <input matInput  *ngIf="saglasnost.licniPodaci.drzavljanstvo.srpsko.jmbg !== null"  [value]="'Srpsko'" [disabled]=true/>
          <input matInput  *ngIf="saglasnost.licniPodaci.drzavljanstvo.strano.nazivDrzavljanstva !== null"  [value]="'Strano'" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
          <mat-form-field appearance="outline">
            <mat-label>JMBG</mat-label>
            <input matInput [value]="saglasnost.licniPodaci.drzavljanstvo.srpsko.jmbg.value" [disabled]=true/>
          </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Prezime</mat-label>
          <input matInput [value]="saglasnost.licniPodaci.prezime" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Ime</mat-label>
          <input matInput [value]="saglasnost.licniPodaci.ime" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Ime Roditelja </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.imeRoditelja" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Pol </mat-label>
          <input matInput  *ngIf="saglasnost.licniPodaci.pol === 'Z'"  [value]="'Zensko'" [disabled]=true/>
          <input matInput  *ngIf="saglasnost.licniPodaci.pol === 'M'"  [value]="'Musko'" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Datum Rodjenja </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.datumRodjenja | date" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Mesto Rodjenja </mat-label>
          <input matInput [value]="saglasnost.licniPodaci.mestoRodjenja" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Ulica i broj </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.adresa.ulicaBroj" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Mesto/Naselje </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.adresa.mestoNaselje" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Opstina </mat-label>
          <input matInput [value]="saglasnost.licniPodaci.adresa.opstinaGrad" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Fiksni Telefon </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.fiksniBroj" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Mobilni Telefon </mat-label>
          <input matInput  [value]="saglasnost.licniPodaci.mobilniBroj" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Email Adresa </mat-label>
          <input matInput   [value]="saglasnost.licniPodaci.email" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Radni Status </mat-label>
          <input matInput   [value]="saglasnost.radniStatus" [disabled]=true/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Radni Status </mat-label>
          <input matInput   [value]="saglasnost.zanimanje" [disabled]=true/>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <h2 id="evidencijaNaslov">Evidencija o vakcinaciji protiv COVID-19</h2>
  <table>
    <div formGroupName="evidencijaOVakcinaciji">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Zdravstvena Ustanova</mat-label>
            <input matInput formControlName="zdravstvenaUstanova" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Vakcinacijski Punkt</mat-label>
            <input matInput formControlName="vakcinijskiPunkt" />
          </mat-form-field>
        </td>
      </tr>
    </div>

    <div formGroupName="lekar" class="container">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Ime Lekara</mat-label>
            <input matInput formControlName="ime" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Prezime Lekara</mat-label>
            <input matInput formControlName="prezime" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Faksmil</mat-label>
            <input matInput formControlName="faksmil" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Br. Telefona Lekara</mat-label>
            <input matInput formControlName="brojTelefona" pattern="0[0-9]+" />
          </mat-form-field>
        </td>
      </tr>
    </div>

    <!-- OVDE TREBA LISTA VAKCINA -->
    <!-- <div class="istorija-vakcina">  
      <div class="wrapper">
        <h2> Istorija Vakcinisanja </h2>  
        <button type="button" (click)="addQuantity()" class="dodaj-vakcinu-btn">Dodaj Vakcinu</button> 
      </div> -->

      <!-- <form [formGroup]="tabelaVakcinisanja" (ngSubmit)="onSubmit()">
        <div formArrayName="vakcinisanje">
          <div *ngFor="let vakcina of vakcinisanje().controls; let i = index" [formGroup]="vakcina">
            <div [formGroup]="vakcinisanje">
              <mat-form-field appearance="outline">
                <mat-label>Naziv vakcine</mat-label>
                <input matInput formControlName="nacinDavanja"/>
              </mat-form-field> 
            </div>
          </div>
        </div>
      </form> -->

      <!-- <form [formGroup]="tabelaVakcinisanja" (ngSubmit)="onSubmit()">    
        <div formArrayName="quantities" (ngSubmit)="onSubmit()">  
          <div *ngFor="let quantity of quantities().controls; let vakcinisanje=index" [formGroupName]="vakcinisanje">
            <tr>  
              <td>  
                  <mat-form-field appearance="outline">
                    <mat-label>Naziv vakcine</mat-label>
                    <input matInput />
                  </mat-form-field> 
              </td>
              <td>  
                <mat-form-field appearance="fill">
                  <mat-label>Datum davanja vakcine</mat-label >
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>  
            </tr>
            <tr>
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Nacin davanja vakcine</mat-label>
                  <mat-select >
                    <mat-option value="JESTE_IM"
                      >Jeste IM</mat-option
                    >
                    <mat-option value="NIJE_IM"
                      >Nije IM</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </td>
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Ekstremitet</mat-label>
                  <mat-select >
                    <mat-option value="DR"
                      >DR</mat-option
                    >
                    <mat-option value="LR"
                      >LR</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </td>  
            </tr>
            <tr>  
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Serija vakcine</mat-label>
                  <input matInput />
                </mat-form-field> 
              </td>
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Proizvodjac</mat-label>
                  <input matInput />
                </mat-form-field> 
              </td>  
            </tr>
            <tr>  
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Nezeljena reakcija</mat-label>
                  <input matInput />
                </mat-form-field> 
              </td>
              <td>  
                <mat-form-field appearance="outline">
                  <mat-label>Potpis lekara</mat-label>
                  <input matInput />
                </mat-form-field> 
              </td>  
            </tr>
            <button (click)="removeQuantity(vakcinisanje)" class="dodaj-vakcinu-btn align-center" id="remove-btn">Remove</button>
            <br>
            <hr>
  
          </div>
        </div>  
      <!-- </form>   -->
  </table>


 
  <button
    mat-flat-button
    class="align-center"
    color="primary"
    type="submit"
  >
    Submit
  </button>
</form>























































































































































































































































































































































































