<div class="all">
  <div class="header">
    <div class="item">
      <a href="#">Moji Dokumenti</a>
    </div>
    <div class="item">
      <a href="interesovanje/create">Interesovanje</a>
    </div>
    <div class="item">
      <a href="saglasnost">Saglasnost</a>
    </div>
    <div class="item">
      <a href="#">Dokumenti</a>
    </div>
    <div class="item">
      <a href="#">Home2</a>
    </div>
    <div class="item" (click)="logout()">
      <a href="/login" >Logout</a>
    </div>
  </div>
  <div class="body">
    <h1>Moji Dokumenti</h1>
    <app-document-view></app-document-view>
  
  </div>
</div>
