<p>Razlog</p>
<input [(ngModel)]="razlog"/>

<mat-card *ngFor="let zahtev of zahtevi">
    <mat-card-title>Zahtev za sertifikat</mat-card-title>
    <mat-card-content>
      {{zahtev.licniPodaci.imePrezime.ime}} {{zahtev.licniPodaci.imePrezime.prezime}}
      {{zahtev.razlogZaZahtev}} - {{zahtev.zahtevId}}</mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="prihvatiZahtev(zahtev.zahtevId)">Prihvati</button>
<button mat-button color="warn" (click)="odbiZahtev(zahtev.zahtevId)">Odbi</button>
    </mat-card-actions>
  </mat-card>

