
<form
    [formGroup]="zahtevForm"
    class="container"
    (ngSubmit)="onSubmit()"
>
<h3>Zahtev za izdavanje digitalnog zelenog sertifikata</h3>
    <div formGroupName="licniPodaci" class="container">
        <div formGroupName="imePrezime" class="containter">
            <mat-form-field appearance="outline">
                <mat-label>Ime</mat-label>
                <input matInput id="ime" formControlName="ime" type="text">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Prezime</mat-label>
                <input matInput id="prezime" formControlName="prezime" type="text">
            </mat-form-field>
        </div>
        <div class="container">
        <mat-form-field appearance="outline" >
            <mat-label>Datum Rođenja</mat-label>
            <input matInput formControlName="datumRodjenja" type="date">

        </mat-form-field>
    </div>
            <mat-form-field appearance="outline">
                <mat-label>Pol</mat-label>
                <mat-select formControlName="pol">
                    <mat-option value="M">Muški</mat-option>
                    <mat-option value="Z">Ženski</mat-option>
                </mat-select>
            </mat-form-field>
        <div formGroupName="jmbg" class="containter">
            <mat-form-field appearance="outline">
              <mat-label>JMBG</mat-label>
              <input matInput formControlName="value" pattern="[0-9]{13}" />
            </mat-form-field>
          </div>
            <mat-form-field appearance="outline">
              <mat-label>Broj Pasoša</mat-label>
              <input matInput formControlName="brojPasosa" pattern="[0-9]{9}" />
            </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Razlog Za Zahtev</mat-label>
            <input matInput formControlName="razlogZaZahtev" />
        </mat-form-field>
    </div>
    <div formGroupName="mesto" class="containter">
        <mat-form-field appearance="outline">
          <mat-label>Mesto</mat-label>
          <input matInput formControlName="value" />
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field appearance="outline">
          <mat-label>Potpis</mat-label>
          <input matInput formControlName="potpis" />
        </mat-form-field>
    </div>
    <div> 
        <button
            mat-flat-button
            class="align-right"
            color="primary"
            type="submit"
        >
        Submit
        </button>
    </div>
  
</form>