<form
  [formGroup]="sertifikatForm"
  class="containter"
  (ngSubmit)="onSubmit()"
>
  <h2>Podnosenje zahteva za Zeleni Sertifikat protiv COVID-19</h2>
  <table>
    <div>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>QR Kod </mat-label>
                    <input matInput formControlName="qrCode" />
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Broj Sertifikata </mat-label>
                    <input matInput formControlName="brojSertifikata" />
                  </mat-form-field>
            </td>
            <td formGroupName="datumIzdavanja">
                <mat-form-field appearance="outline">
                    <mat-label>Datum Izdavanja</mat-label >
                    <input matInput [matDatepicker]="picker" formControlName="value">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </td>
        </tr>
    </div>
    <div formGroupName="licniPodaci">
        <tr formGroupName="imePrezime">
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Ime </mat-label>
                    <input matInput formControlName="ime" />
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Prezime </mat-label>
                    <input matInput formControlName="prezime" />
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Pol</mat-label>
                    <mat-select formControlName="pol">
                      <mat-option value="Musko"
                        >Musko</mat-option
                      >
                      <mat-option value="Zensko"
                        >Zensko</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>JMBG </mat-label>
                    <input matInput formControlName="jmbg" />
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Broj Pasosa </mat-label>
                    <input matInput formControlName="brojPasosa" />
                  </mat-form-field>
            </td>
        </tr>
    </div>
    <div>
        <tr>
            <td formGroupName="izdavacSertifikata">
                <mat-form-field appearance="outline">
                    <mat-label>Izdavac Sertifikata</mat-label>
                    <input matInput formControlName="value" />
                  </mat-form-field>
            </td>
            <td formGroupName="prelezana">
                <mat-form-field appearance="outline">
                    <mat-label>Datum Pozitivnog</mat-label >
                    <input matInput [matDatepicker]="picker1" formControlName="datumPozitivnog">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </td>
            <td formGroupName="prelezana">
                <mat-form-field appearance="outline">
                    <mat-label>Laboratorija</mat-label>
                    <input matInput formControlName="laboratorija" />
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Zahtev za Sertifikat</mat-label>
                    <input matInput formControlName="zahtevZaSertifikat" />
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Potvrda o Vakcinisanju</mat-label>
                    <input matInput formControlName="potvrdaOVakcinisanju" />
                  </mat-form-field>
            </td>
        </tr>
    </div>
  </table>

  <button
    mat-flat-button
    class="align-right"
    color="primary"
    type="submit"
    [disabled]="!sertifikatForm.valid"
  >
    Submit
  </button>
</form>
