<div class="docs">
<mat-stepper orientation="vertical"  #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Interesovanje</ng-template>

      <app-interesovanje-view [interesovanje] = "interesovanje[0]"></app-interesovanje-view>
      <!-- <mat-form-field appearance="fill" class="polje">
        <mat-label>Drzavljanstvo</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>JMBG</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Prezime</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Email Adresa</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Mobilni Telefon</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Fiksni Telefon</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Lokacija Vakcinisanja</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Tip Vakcine</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Vakcinisanja</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Potpis</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Davalac Krvi</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Saglasnost</ng-template>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Drzavljanstvo</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>JMBG</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Prezime</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime Roditelja</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Pol</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Rodjenja</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Mesto Rodjenja</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ulica i Broj</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Mesto/Naselje</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Grad/Opstina</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Fiksni Broj</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Mobilni Broj</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Email Adresa</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Radni Status</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Zanimanje Zaposlenog</mat-label>
        <input matInput  formControlName="secondCtrl" readonly>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Potvrda</ng-template>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Prezime</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Rodjenja</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Pol</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>JMBG</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Naziv Vakcine</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Doze</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Broj Serije</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Broj Doze</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Zdravstvena Ustanova</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Izdavanja Potvrde</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Zdravstvena Ustanova</mat-label>
        <input matInput  formControlName="thirdCtrl" readonly>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Sertifikati</ng-template>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>QR Code</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Broj Sertifikata</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Izdavanja Sertifikata</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime i Prezime</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Pol</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>JMBG</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Broj Pasosa</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Izdavac Sertifikata</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Pozitivnog</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Laboratorija</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Zahtev za Sertifikat</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Potvrda o Vakcinaciji</mat-label>
        <input matInput  formControlName="fourthCtrl" readonly>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

</div>
