<div class="docs">
<mat-stepper orientation="vertical" #stepper>
  <mat-step >
      <ng-template matStepLabel>Interesovanje</ng-template>
      <div *ngIf="interesovanje">
      <app-interesovanje-view [interesovanje] = "interesovanje[0]"></app-interesovanje-view>
    </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Saglasnost</ng-template>
    <div *ngIf="saglasnost">
    <app-saglasnost-view [saglasnost]="saglasnost"></app-saglasnost-view>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Potvrde</ng-template>
    <app-potvrda-view [potvrde]="potvrda"></app-potvrda-view>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Sertifikati</ng-template>
    <app-sertifikat-view [sertifikati]="sertifikati"></app-sertifikat-view>
    
  </mat-step>
</mat-stepper>

</div>
