<div class="docs">
<!-- <ul><h2>Interesovanje: </h2>{{interesovanje[0] | json}}</ul> -->
<mat-stepper orientation="vertical"  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Interesovanje</ng-template>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Drzavljanstvo</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>JMBG</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Ime</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Prezime</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Email Adresa</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Mobilni Telefon</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Fiksni Telefon</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Lokacija Vakcinisanja</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Tip Vakcine</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Datum Vakcinisanja</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Potpis</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="polje">
        <mat-label>Davalac Krvi</mat-label>
        <input matInput  formControlName="firstCtrl" readonly>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Saglasnost</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Potvrda</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Sertifikati</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="fourthCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>

</div>
