<form class="loginForm">
  <h1 style="text-align: center">Vaccination portal</h1>
  <mat-form-field appearance="outline">
    <mat-label>Username </mat-label>
    <input matInput placeholder="Input Username" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password </mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <p>Nemate nalog? <a href="/registration">Registruj se</a></p>

  <button mat-flat-button class="lgn-button" color="primary">Login</button>
</form>
