.containter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //background-color: yellow;
}
.mat-form-field {
  width: 450px !important;
}

.align-right {
  align-self: flex-end;
}

.align-left {
  align-self: flex-start;
}

#female{
  margin-left: 20px;
  margin-bottom: 20px
}